################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/research.digitalni-muzeum.cz/CopilotIndices/17.12.68.61481/CodeChunks.db
